/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
	border-top: 5px solid #fff;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/jeshoots-com.jpg) no-repeat center top fixed;
	margin-top: 0px;
	padding-top: 250px;
	text-align:Left;
	background-attachment: relative;
	background-position: bottom center;
	min-height: 850px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h3,h2{
	color:white;
}
#why {
	background: #444 url(../img/bucket2.jpg) no-repeat center top fixed;
	margin-top: 0px;
	padding-top: 0px;
	text-align:Left;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#google{
	background: #444;
	margin-top: 0px;
	padding-top: 0px;
	text-align:Left;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#w{
	background:rgba(50, 50, 50, 0.5);
	margin-top: 0px;
	padding-top: 0px;
	color: white;
	}

#w h1{

	color: white;
	}

.button {
	float:right;
	padding: 12px;
	background: #36f;
/*	width: 180px;*/
	color: white;
	margin-left:10px;
	margin-top:-50px;
	z-index:0;
	border-radius: 5px;
	text-decoration:none;
	z-index:999;
}

.price {
	font-weight: 700;
    color: #4a4a4a;
	font-size: 24px;
	margin-top:10px;
	z-index:1;
}
a:hover{
	text-decoration:none;
}
		
a:hover .button{
	visibility:visible;
	text-decoration:none;
}
	
#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;

}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #49f;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.principles{}
.principles img{width: 170px;margin-left:30%}


/* Gallery */
.gallery {
margin-left: auto;
    margin-right: auto;
}
.gallery img{
	margin-top: 30px;
	z-index:2;

}
.gallery img:hover {
	opacity: 0.4;
}
.gallery h4 {
	color:white;
}

/*отзывы*/
.koguvcavis-varazdel {
  padding: 38px 0;
  background: #ffffff;
  color: #2f2f2f;
  text-align: center;
}
.sestim-donials{
  max-width: 2500px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.sectionesag {
  width: 195px;
  height: 3px;
  background: #498a2d;
  margin: 23px auto;
}

.sagestim-lonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vemotau-vokusipol{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #f9f4f4;
  padding: 28px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.gecedanam{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.apogered-gselected{
  color: #53b32b;
  margin-bottom: 20px;
}

@media screen and (max-width:960px) {
.vemotau-vokusipol{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.vemotau-vokusipol{
  flex: 100%;
  max-width: 100%;
}
}



 /*КОНСУЛЬТАЦИИ ПО РЕМОНТУ КВАРТИР, ДОМОВ, ОФИСОВ. ПРИЕМ ЗАЯВОК И КОНСУЛЬТАЦИИ */
.objectImage{
	color: #4d4d4d;
	font-size: 17px;
	font-family: lato, helvetica, arial, sans-serif;
	line-height: 1.5;
	background-color: #ffffff;
	margin: 0;
	position: relative;
}
* {
	 margin:0; -webkit-box-sizing:border-box; box-sizing:border-box;
}
p {
	 margin-bottom:15px;
}
/* преимущества */

.contentTitle, .objectTitle, #content2 .contentTitle {
	text-align: center;
  }
  .contentTitle {
	font-size: 170%;
  }
  .red_cifer {
	color: #de1d56;
  }
  .centerr, #div255.centerr {
	width: 90%;
  }
  #content2 .object {
	background-repeat: no-repeat;
	background-size: 28px;
	padding-left: 45px;
	margin-top: 40px;
	margin-bottom: 0px;
	width: 48%;
	position: relative;
  }

.flexstart{
	position: relative;
left: 240px;
}
#content2 .contentTitle {

	position: relative;
left: -50px;
  }

	
  
  #content2 .objectNote {
	font-size: 90%;
	position: relative;
	left: 320px;
  
  }
  /*счетчик*/
body {
  text-align: center;
/*  background: #b6924f;*/
  font-family: sans-serif;
  font-weight: 100;
}

.countdown-title {
  color: rgba(190, 141, 35, 0.959);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.countdown {
  margin-top: 2%;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  /* text-align: center; */
  font-size: 50px;
  width: 1000px
;

}

.countdown-number {
  padding: 10px;
  border-radius: 3px;
  /*background: #b6924f;*/
  display: inline-block;
}

.countdown-time {
  padding: 15px;
  border-radius: 3px;
  /*background: #c79a57;*/
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
/*счетчик*/

